.input{
  border-radius: px25;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin: 10px 10px;
  padding: 7px 7px;
  width:70%;
  font-weight: 400;
}

.App{
  background-color: rgb(202, 234, 202);
  display: flex;
  justify-content:center;
  align-items: center;
   margin: 100px;

}